{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'task_tracker/css/kanban_board_styles.css' %}">
    <title>Личный кабинет</title>
</head>
<body>
<h1 class="dashboard__title">Kanban Dashboard</h1>
<div class="container">
    <div class="header">
        <div class="left_side__header">
            <h2>Привет, {{ user.username }}!</h2>
            <p><i class="fa-solid fa-clock"></i> Текущее время: {{ current_time }}</p>
        </div>
        <div class="right_side__header">
            <form method="POST" action="{% url 'home' %}">
                {% csrf_token %}
                <button type="submit"><i class="fa-solid fa-user"></i> {{ user.username }}</button>
            </form>

            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit"><i class="fa-solid fa-sign-out-alt"></i> Выход</button>
            </form>
        </div>
    </div>

    <div class="dashboard">
        <div class="dashboard__section upcoming_tasks">
            <h2 class="dashboard__section__title">Upcoming</h2>
            {% for task in upcoming %}
            <div class="task">
                <h3 class="task_name">{{ task.task_name }}</h3>
                <h5 class="task_description">{{ task.task_description}}</h5>
                <h6>{{ task.created_at }}</h6>
                <h6>{{ task.expire_at}}</h6>
                <h7>{{ task.author}}</h7>
            </div>
            {% endfor %}
            <form class="add_task" method="GET" action="{% url 'create_task' %}">
                {% csrf_token %}
                <button class="add_task__btn" type="submit">Добавить задачу</button>
            </form>
        </div>
        <div class="dashboard__section in_progress_tasks">
            <h2 class="dashboard__section__title">In progress</h2>
        </div>
        <div class="dashboard__section code_review_tasks">
            <h2 class="dashboard__section__title">Code review</h2>
        </div>
        <div class="dashboard__section delivered_tasks">
            <h2 class="dashboard__section__title">Delivered</h2>
        </div>
        <div class="dashboard__section done_tasks">
            <h2 class="dashboard__section__title">Done</h2>
        </div>
    </div>
</div>
<script src="{% static 'task_tracker/js/kanban_task_drag_and_drop.js' %}"></script>
</body>
</html>
