{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'task_tracker/css/account.css' %}">
    <title>Профиль пользователя</title>
</head>
<body>
    <div class="container">
        <h2>Профиль пользователя</h2>
        <form method="POST">
            <div class="form-group">
                <label for="username">Имя пользователя</label>
                <input type="text" id="username" name="username" value="{{ user.username }}" readonly>
            </div>

            <div class="form-group">
                <label for="first_name">Имя</label>
                <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}" readonly>
            </div>

            <div class="form-group">
                <label for="middle_name">Отчество</label>
                <input type="text" id="middle_name" name="middle_name" value="{{ user.middle_name }}" readonly>
            </div>

            <div class="form-group">
                <label for="last_name">Фамилия</label>
                <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}" readonly>
            </div>

            <div class="form-group">
                <label for="email">Электронная почта</label>
                <input type="email" id="email" name="email" value="{{ user.email }}" readonly>
            </div>

            <div class="form-group">
                <label for="age">Возраст</label>
                <input type="number" id="age" name="age" value="{{ user.age }}" readonly>
            </div>

            <div class="form-group">
                <label for="created_at">Дата регистрации</label>
                <input type="text" id="created_at" name="created_at" value="{{ user.created_at }}" readonly>
            </div>
        </form>
    </div>

</body>
</html>
